<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1>
  Cartpool - Order picked up
</h1>

<div class="container">
<p><b>Order Id:  </b>
<b th:text="${orderId}"></b>
</p>
<p>
<b>Date:  </b>
<b th:text="${orderDate}"></b>
</p>
<p>
   Hello! Your order is picked up from the store
</p>

</body>
</html> 