<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1>
   You have a message from a pooler. To reply, please message from the cartpool application
</h1>

<div class="container">
<p><b>Sender:  </b>
<b th:text="${sender.screenName}"></b>
</p>

<p>
<b th:text="${message}"></b>
</p>

</div>
</body>
</html> 